google_cloud_storage==1.42.0
ipdb==0.13.9
jupyterlab==3.0.16
matplotlib>=3.3
pandas>=1.1
pytest==6.2.4
python-dateutil==2.8.2
python-snappy==0.6.0
requests==2.25.1
seaborn==0.11.1
segmentation-models==1.0.1
six==1.16.0
tables==3.6.1
tensorboard==2.6.0
tensorboard-plugin-profile==2.4.0
tensorflow-datasets==4.4.0
tensorflow-hub==0.8.0
tqdm==4.61.0